@charset "UTF-8";
/* COLORS */
/*element position*/
/*Reset CSS*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0 auto;
  display: block;
}

body .bodyScroll {
  overflow: scroll;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

/*TITLES*/
h1 {
  font-size: 1.55em;
  font-weight: 700;
  color: #901C1C;
  margin-right: 100px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  color: #D3573C;
  margin-bottom: 0;
}

h3 {
  /*font-size: 1.1em;
    font-weight: 600;*/
  color: #901C1C;
}

p {
  font-weight: 300;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

#logo {
  height: 50px;
  margin-left: 100px;
}

/*PROFIL PAGE: photographer header - Buttons :"Contactez moi" et "Envoyer"*/
.contact_button, #submit-form_button, #close-congrats_button {
  font-size: 20px;
  font-weight: bold;
  color: #FAFAFA;
  padding: 10px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:focus, #submit-form_button:focus, #close-congrats_button:focus {
  outline: 2px solid #DB8876;
}

.contact_button:hover, #submit-form_button:hover, #close-congrats_button:hover {
  background-color: #DB8876;
  color: black;
  outline: white;
}

#submit-form_button:hover, #submit-form_button:focus, #close-congrats_button:hover, #close-congrats_button:focus {
  background-color: #e54858;
}

/*PROFIL PAGE: ModalLightbox buttons */
.lightbox__button-previous {
  background: none;
  border: none;
  left: -30px;
}

.lightbox__button-previous .fa-chevron-left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 50px;
  cursor: pointer;
  color: #901C1C;
}

.lightbox__button-next {
  background: none;
  border: none;
  right: -30px;
}

.lightbox__button-next .fa-chevron-right {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-size: 50px;
  cursor: pointer;
  color: #901C1C;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.close::before, .close::after {
  position: absolute;
  left: 15px;
  /*display: "none";*/
  /*content: none;*/
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*MODAL CONTACT : FORM COMPOSITION*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: scroll;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 10px;
}

form div label {
  color: #312E2E;
  /*a reverifier*/
  font-size: 36px;
}

form div input, form div #contact-email {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  /*padding: 7px 0; /*à reverifier*/
}

form div input .text-control, form div #contact-email .text-control {
  margin: 0;
  padding: 2px 2px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
  outline: transparent solid 2px;
}

form div #contact-message {
  border: none;
  border-radius: 5px;
  resize: none;
  width: 100%;
  height: 170px;
}

/*------------Data error*/
input[data-error]::after {
  content: attr(data-error);
  font-size: large;
  color: #e54858;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: large;
  font-weight: 600;
  color: #e54858;
  display: block;
  margin-top: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData:not([data-error])::after {
  display: block;
  content: "";
}

.formData[data-error-visible="true"] .text-control {
  outline: 2px solid #e54858;
}

/*-----MODALCONTACT = BOX element (header+form) + CONGRATS element----*/
#modalContact {
  display: none;
  top: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*----ModalContact box = HEADER + FORM----*/
.modalContact-box {
  position: relative;
  border-radius: 5px;
  background-color: #DB8876;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 35px;
  margin: auto;
  margin-top: 2.8%;
  opacity: 1;
  /*.contact_button : in _buttons.scss*/
}

.modalContact-box header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 17%;
  margin-bottom: 30px;
}

.modalContact-box header img {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 7%;
  height: 7%;
}

.modalContact-box header h2 {
  font-size: xxx-large;
  color: black;
  font-weight: 700;
  margin-bottom: 8px;
}

.modalContact-box form {
  height: 83%;
  /* + details in _form.scss*/
}

/*----ModalContact CONGRATS element----*/
/*photographer page- modalContact open- form validation ok*/
.congrats {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43%;
  height: 700px;
  margin: 2.8% auto;
  background-color: #DB8876;
  border-radius: 5px;
}

.congrats img {
  /*icone X(close)*/
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 40px;
  margin-top: 40px;
}

.congrats .congrats-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: 400;
}

.congrats #close-congrats_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10%;
}

.modalLightbox {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 5;
  /*s'affiche au dessus de la page*/
  overflow: hidden;
  border: none;
}

.modalLightbox #lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 100%;
  width: 95%;
}

.modalLightbox #lightbox #lightbox__button-close {
  background: none;
  border: none;
  position: fixed;
  color: #901C1C;
  top: 13%;
  right: 20%;
  height: 70px;
  width: 70px;
  font-size: xx-large;
  font-weight: 900;
}

.modalLightbox .lightbox__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: 100%;*/
  /*height: 100%;*/
  margin: 2%;
  /*buttons previous, next et close in components/ _button*/
}

.modalLightbox .lightbox__media .mediaCard__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.modalLightbox .lightbox__media .mediaCard__image-Photo, .modalLightbox .lightbox__media .mediaCard__video {
  height: 750px;
  width: 750px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 3%;
}

.modalLightbox .lightbox__media .mediaCard__image-Photo video, .modalLightbox .lightbox__media .mediaCard__video video {
  height: 750px;
  width: 750px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modalLightbox .lightbox__media .mediaCard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 750px;
}

.modalLightbox .lightbox__media .mediaCard__info h3 {
  font-size: xx-large;
  margin-left: 3%;
  margin-top: 1%;
}

.modalLightbox .lightbox__media .mediaCard__info span {
  display: none;
}

.modalLightbox .fa-chevron-left {
  font-size: 50px;
  color: #901C1C;
  cursor: pointer;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.modalLightbox .fa-chevron-right {
  font-size: 50px;
  color: #901C1C;
  cursor: pointer;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/******* RESPONSIVE : SCREEN ADAPTATION******/
@media (max-width: 1204px) {
  #lightbox__button-close {
    top: 14%;
    right: 16%;
  }
}

@media (max-width: 1064px) {
  #lightbox__button-close {
    top: 15%;
    right: 10%;
  }
}

@media (max-width: 886px) {
  #lightbox__button-close {
    top: 17%;
    /*right:10%;*/
  }
}

.boxLikes-bar {
  position: fixed;
  bottom: 0;
  right: 100px;
  background: #DB8876;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  padding: 0 30px;
}

.boxLikes-bar .likes-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxLikes-bar .likes-bar .totalLikes, .boxLikes-bar .price-bar p {
  margin-right: 5px;
  font-size: 24px;
  font-weight: bold;
}

#widget-aside {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 480px;
  margin-left: 100px;
  /*width: 100%;*/
  height: 45px;
  opacity: 1;
  /*margin-bottom: 35px;*/
}

#widget-aside label {
  /*"trier par"*/
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-right: 20px;
}

#widget-filter {
  /*Btn*/
  position: absolute;
  margin-left: 90px;
  margin-top: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #FAFAFA;
  /*padding: 3px 3px 10px 3px;*/
  width: 170px;
  height: 45px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#widget-filter .widget-container {
  /*div (popularity + arrow)*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  outline: none;
  color: white;
  /*padding: 0.25rem 1rem;*/
  gap: 1.625rem;
  border-radius: 5px;
  background-color: #901C1C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

#widget-filter .widget-container p {
  /*text in widget*/
  font-size: 20px;
  font-weight: bold;
}

#widget-filter .widget-container #widget-container_arrow {
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#widget-filter .widget-container #widget-container_arrow.arrow-move {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#widget-filter .widget-container:after {
  /*z-index: 5;*/
  position: relative;
  display: block;
  width: 1rem;
  height: 1.4rem;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#widget-filter .widget-container[aria-expanded="true"]:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#widget-filter .widget-container:hover, #widget-filter .widget-container:focus {
  width: 100%;
  height: 100%;
  background-color: #DB8876;
  color: black;
}

.widget-listbox {
  /*ui*/
  display: none;
  /*z-index: 3;*/
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 135px;
  /*padding: 0px 5px 10px 5px;*/
  border-radius: 5px;
  background-color: #901C1C;
  /*box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.2);*/
}

.widget-listbox_option {
  z-index: 4;
  position: relative;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-left: 15px;
  border-bottom: 1px solid white;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.widget-listbox_option:hover, .widget-listbox_option[aria-selected="true"] {
  background-color: #DB8876;
  color: black;
}

/*@use "./utils/variables" as a;*/
/*@use "./utils/mixins" as a;*/
/*@use "./base/base" as a;*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

header h1 {
  margin-right: 100px;
  color: #901C1C;
}

.photographer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

@media screen and (max-width: 1200px) {
  .photographer_section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
}

@media screen and (max-width: 600px) {
  .photographer_section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.photographer_section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.photographer_section article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.photographer_section article p {
  margin: 2px 0;
}

.photographer_section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photographer_section a img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  /*box-shadow: $color-secondary-light 3px 3px 3px;*/
  /*a revoir*/
}

.photographer_section__location {
  color: #901C1C;
  font-weight: 500;
}

.photographer_section__sentence {
  color: black;
  font-weight: 500;
  font-size: 0.75em;
}

.photographer_section__price {
  color: #757575;
  font-weight: 500;
  font-size: 0.75em;
}

#back-to-home {
  margin-top: 35px;
}

#main {
  display: block;
  width: 100%;
}

#photographer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*gap: 70px;*/
  margin: 50px 100px 20px 100px;
  /*width: 100%;*/
}

#photographerHeader {
  background-color: #FAFAFA;
  height: 300px;
  width: 100%;
  margin-bottom: 85px;
  /*à revoir comme titrepage*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#photographerHeader .photographerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
  margin: 20px 0 20px 20px;
}

#photographerHeader .photographerCard__image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#mediaCards {
  margin: 0 100px 0 100px;
  /*width: 100%;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*justify-items: center;*/
}

.mediaCard {
  /*margin: 35px 35px 35px 0;*/
  padding-right: 0%;
}

.mediaCard .mediaCard__video {
  width: 270px;
}

.mediaCard .mediaCard__image-Photo, .mediaCard .mediaCard__video-video {
  height: 340px;
  width: 100%;
  min-width: 390px;
  max-width: 392px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 5px;
}

.mediaCard .mediaCard__info {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #901C1C;
  /*dislay grid a faire a la place*/
}

.mediaCard .mediaCard__Likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 5px;
}
/*# sourceMappingURL=style.css.map */