/*PROFIL PAGE: photographer header - Buttons :"Contactez moi" et "Envoyer"*/
.contact_button, #submit-form_button, #close-congrats_button {
    font-size: 20px;
    font-weight: bold;
    color:$color-secondary-lightest;
    padding: 10px;
    width: 170px;
    height: 70px;
    border: none;
    background-color:$color-primary;
    border-radius: 5px;
    cursor: pointer;

    &:focus {
        outline: 2px solid $color-primary-lightest;
    }

    &:hover {
        background-color:$color-primary-lightest;
        color: black;
        outline: white;
    }
    
}

#submit-form_button, #close-congrats_button{
    &:hover, &:focus{
    background-color: $form-dataError;
    }
}

/*PROFIL PAGE: ModalLightbox buttons */

.lightbox__button-previous{
    background: none;
    border: none;

    .fa-chevron-left{
        order: 1;
        font-size: 50px;
        cursor: pointer;
        color: $color-primary;
    }
}

.lightbox__button-next{
    background: none;
    border: none;
    position: absolute;/*à verifier*/
    right: -70px;

    .fa-chevron-right{
        order: 3;
        font-size: 50px;
        cursor: pointer;
        color: $color-primary;
    }
}

.lightbox__button-close{
    background: none;
    border: none;
    position: absolute;
    top: 60px;
    right: -80px;
}
