/*@import url("photographer.css");*/




form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;


    label {
        color: #312E2E;/*a reverifier*/
        font-size: 36px;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }

    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;

        &#contact-message{
            border: none;
            border-radius: 5px;
            resize: none;
            width:100%;
            height: 170px;
        }
    }

    /*button {
        font-weight: 400;
        margin-top: 30px;
    }*/
}




.text-control { /* text written by user*/
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
    outline:transparent solid 2px;
  }
  
  /*------------Data error*/
  
  input[data-error]::after {
      content: attr(data-error);
      font-size: small;
      color: #e54858;
  } 
  
  .formData[data-error]::after {
    content: attr(data-error);
    font-size: small;
    font-weight: 600;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  
  .formData:not([data-error])::after {
    display: block;
    content: "";
  }
  
  .formData[data-error-visible="true"] .text-control {
    outline: 2px solid #e54858;
  }