
.widget-section {
    position: fixed;
    bottom: 0px;
    left: 85%;
    background-color:$color-primary-light;
    width: 225px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-weight: 500;
    z-index: 1;
}
