/*@import url("photographer.css");*/



/*Reset CSS*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit;

    &:hover, &:visited{
        text-decoration: none;
        color: inherit;
    }
}

ul, li{
    text-decoration: none;
    list-style: none;
}

/*TITLES*/

h1{
    font-size: 1.55em;
    font-weight: 700;
    color:$color-primary;
    margin-right: 100px;
}

h2{
    font-size: 36px;
    font-weight: 400;
    color:$color-primary-light;
    margin-bottom: 0;
}

h3{
    font-size: 1.1em;
    font-weight: 600;
}

p{
    font-weight: 300;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}



#logo {
    height: 50px;
    margin-left: 100px;
}