

/* COLORS */

$color-primary: #901C1C;
$color-primary-light:#D3573C;
$color-primary-lightest:#DB8876;
$color-secondary:#525252;
$color-secondary-light: #757575;
$color-secondary-lightest: #FAFAFA;
$modalContact-backgroundColor: rgba(255, 255, 255, 0.8);
$form-dataError:  #e54858;