/*-----MODALCONTACT = BOX element (header+form) + CONGRATS element----*/

#modalContact{
    display: none;
    top: 0;
    position: fixed;
    background-color:rgba(255, 255, 255, 0.8);    
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*----ModalContact box = HEADER + FORM----*/



.modalContact-box {
    position: relative;
    border-radius: 5px;
    background-color:$color-primary-lightest;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
    margin: auto;
    margin-top: 2.8%;
    opacity: 1;


    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        width: 100%;
        height: 17%;
        margin-bottom: 30px;
    }

    header img {
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 40px;
        width: 7%;
        height: 7%;
    }

    header h2 {
        font-size: xxx-large;
        color: black;
        font-weight: 700;    
        margin-bottom: 8px;
        
    }

    form{
        height: 83%;
        /* + details in _form.scss*/
    }
/*.contact_button : in _buttons.scss*/
}

/*----ModalContact CONGRATS element----*/
/*photographer page- modalContact open- form validation ok*/
.congrats { 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 700px;
    margin: 2.8% auto;
    background-color: $color-primary-lightest;
    border-radius: 5px;

    img{ /*icone X(close)*/
        cursor: pointer;
        align-self: flex-end;
        margin-right: 40px;
        margin-top: 40px;
    }

    .congrats-text {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 32px;
        font-weight: 400;
    }
      
    #close-congrats_button{
        display: flex ;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
        
    }
}
  





