#contact_modal {
    display: none;
    top: 0;
    position: fixed;
    /*background-color: rgba(0, 0, 0, 0.25);*/
    width: 100%;
    justify-content: center;
    align-items: center;

}





.modal {
    position: relative;
    border-radius: 5px;
    background-color:$color-primary-lightest;
    width: 35%;
    height: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 2.8%;


    header {
        justify-content: space-between;
        width: 100%;
    }

    header img {
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 50px;
    }

    header h2 {
        font-size: 62px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 8px;
        
    }

}

/*.contact_button : in _buttons.scss*/